.login {
  width: 100vw;
  height: 100vh;
  background-image: url("R.jpg"); /* Set the background image */
  background-size: cover; /* Make sure the image covers the entire background */
  background-position: center; /* Center the image */
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWrapper {
  width: 70%;
  height: 70%;
  /* background-color: green; */
  display: flex;
}
.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #41428B;
  margin-bottom: 10px;
}
.loginDesc {
  font-size: 24px;
}
.loginBox {
  height: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 5px 19px -12px #333333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}
.loginInput:focus {
  outline: none;
}
.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #41428B;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.loginForgot {
  text-align: center;
  color: #41428B;
}
.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #3C8B50;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}