@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.login {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: backgroundAnimation 15s ease infinite;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #41428b;
  margin-bottom: 10px;
  animation: fadeInSlideUp 1s ease-out;
}

.loginDesc {
  font-size: 24px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid black;
  animation: typing 3.5s steps(40, end), blinkCursor 0.75s step-end infinite;
}

.loginBox {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 5px 19px -12px #333333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeInSlideUp 1.5s ease-out;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.loginInput:focus {
  outline: none;
  border-color: #41428b;
  box-shadow: 0 0 5px rgba(65, 66, 139, 0.5);
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #41428b;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.loginButton:hover {
  background-color: #33336b;
  transform: translateY(-3px);
}

.loginForgot {
  text-align: center;
  color: #41428b;
}

.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #3c8b50;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.loginRegisterButton:hover {
  background-color: #2a5b37;
  transform: translateY(-3px);
}
