@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.login {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: backgroundAnimation 15s ease infinite;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #41428b;
  margin-bottom: 10px;
}

.logoLetter {
  display: inline-block;
  opacity: 0; /* 初期状態では見えない */
  animation: fall 0.5s forwards;
}

.loginDesc {
  font-size: 24px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid black;
  animation: typing 3.5s steps(40, end), blinkCursor 0.75s step-end infinite;
}

.loginBox {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 5px 19px -12px #333333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeInSlideUp 1.5s ease-out;
}

.loginMsg {
  font-size: 24px;
  color: #417a8b;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.loginInput:focus {
  outline: none;
  border-color: #5ab7c7;
  box-shadow: 0 0 5px rgba(65, 66, 139, 0.5);
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #68d7db;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.loginButton:hover {
  background-color: #2a89f6;
  transform: translateY(-3px);
}

.loginForgot {
  text-align: center;
  color: #41428b;
}

.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #b59ad8;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.loginRegisterButton:hover {
  background-color: #b165d4;
  transform: translateY(-3px);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .loginWrapper {
    width: 90%;
    height: 80%;
    flex-direction: column;
    border-radius: 10px;
  }

  .loginLeft,
  .loginRight {
    width: 100%;
    flex: none;
  }

  .loginLogo {
    font-size: 36px;
  }

  .loginDesc {
    font-size: 18px;
  }

  .loginBox {
    max-width: 100%;
    padding: 15px;
  }

  .loginMsg {
    font-size: 20px;
  }

  .loginInput {
    height: 45px;
    font-size: 16px;
  }

  .loginButton,
  .loginRegisterButton {
    height: 45px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .loginWrapper {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .loginLogo {
    font-size: 30px;
  }

  .loginDesc {
    font-size: 16px;
  }

  .loginMsg {
    font-size: 18px;
  }

  .loginInput {
    height: 40px;
    font-size: 14px;
  }

  .loginButton,
  .loginRegisterButton {
    height: 40px;
    font-size: 16px;
  }
}

.logoLetter:nth-child(1) {
  animation-delay: 0.1s;
}
.logoLetter:nth-child(2) {
  animation-delay: 0.2s;
}
.logoLetter:nth-child(3) {
  animation-delay: 0.3s;
}
.logoLetter:nth-child(4) {
  animation-delay: 0.4s;
}
.logoLetter:nth-child(5) {
  animation-delay: 0.5s;
}
.logoLetter:nth-child(6) {
  animation-delay: 0.6s;
}
.logoLetter:nth-child(7) {
  animation-delay: 0.7s;
}
.logoLetter:nth-child(8) {
  animation-delay: 0.8s;
}
